// fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");
$opensans: "Open Sans", sans-serif;

// colors
$lightgray: #f4f4f4;
$mediumgray: #d8d8d8;
$darkergray: #767676;
$verydarkgray: #585858;

// transitions
@mixin transition {
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}

@mixin phones {
  @media (min-width: 330px) {
    @content;
  }
}

@mixin regular {
  @media (min-width: 481px) {
    @content;
  }
}

%transition {
  @include transition;
}
