* {
    margin: 0;
}

*:focus {
    outline:0 !important;
}

a {
    cursor: pointer;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    position: relative;
    min-height: 100vh;
    width: 100%;
    font-weight: 300;
    box-sizing: border-box;
    padding-top: 50px;
    overflow-y: hidden;
}

#activities, #tracker {
        position: relative;
}

h1, h2, h3, h4 {
    font-weight: inherit;
}



/* TRACKER */
#activities {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

#tracker {
    transition: transform ease 0.4s;
    margin-bottom: 100px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}

.activity {
    cursor: pointer;
    width: 100%;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 0.5em;
    text-align: justify;
}

.activity span {
    pointer-events: none;
}



.activity:hover {
    background: #ccc;
}

.activity .bg {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    margin-right: 0.5em;
    pointer-events: none;
    transition: width ease 0.4s;
    position: relative;
}



.activity.open .bg {
    width: 100px;
}

#tracker .activity.open .bg .timer {
    opacity: 1
}


#tracker .activity div span {
    opacity: 0;
    pointer-events: none;
    transition: opacity ease 1s;
}

.bot-btn {
    bottom: 0;
    width: 100%;
    position: fixed;
    padding: 1em 0;
    box-sizing: border-box;
    background: blue;
    border: none;
    font-size: 21px;
    color: white;
    z-index: 4;
    transition: transform ease 0.4s;
}

#startBtn.away {
    transform: translateY(70px);
}

#endBtn {
    padding: 0.5em 0;
    background: black;
    transform: translateY(70px);
}

#endBtn.show {
    transform: none;
}

.group-header {
    padding: 0.2em 0.5em;
    box-sizing: border-box;
    width: 100%;
    display: block;
    background: #f7f7f7;
}

.overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 3;
    background: rgba(0,0,0,0.5);
    transition: opacity ease 0.4s;
}

.overlay.away {
    opacity: 0;
    pointer-events: none
}

#emailing {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 500px;
    position: absolute;
    background: white;
    z-index: 4;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
}

#emailing.hide {
    display: none;
}

#message.hide {
    display: none;
}

#message {
    background: white;
}

input {
    padding: 0.5em 1em;
    box-sizing: border-box;
    border-radius: 0;
    margin-top: 1em;
}

#emailing button {
    margin-top: 1em;
    padding: 0.5em 1em;
    border: none;
    background: blue;
    color: white;
}

#activities footer {
    height: 100px;
}



/* RESULTS */

/* REMOVE */
.container.hide {
    display: none;
}

#resultsList .bg span {
    color: #011b5a;
    font-size: 13px;
    font-weight: bold;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.horizontal_graph
 {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 1em 0;
    border-bottom: 1px solid #ccc;
    background: #001b5a;
}

.horizontal_graph
 .bar {
     margin-bottom: 0.5em;
     height: 30px;
     width: 100%;
     box-sizing: border-box;
     position: relative;
}

.minibar {
    position: absolute;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    color: white;
    font-weight: bold;
    height: 100%;
    float: left;
    min-width: 2px;
}

#total_duration {
    text-align: right;
    color: white;
    /* background: #001b5a; */
    background: black;
    box-sizing: border-box;
    padding:0.5em;
}

#sendToEmail {
    padding: 1em;
    background: blue;
    color: white;
    border: none;
    border-radius: 0;
    position: absolute;
    margin: 1em;
}



h3 {
    margin-left: 2.5vw;
    margin-bottom: 0.5em;
}


.site-content {
    width: 100%;
    min-height: 100vh;
    padding-top: 50px;
    background: #f7f7f7;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logreg {
    max-width: 90vw;
    width: 400px;
    margin: 0 auto;
    background: white;
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: flex;
    border-bottom: none;
    flex-direction: column;
}

div.logreg {
    max-width: none;
    width: 100%;
}

.box-head {
    background: #00ffc6;
}

.logreg section, .logreg div {
    padding: 10px 20px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
    justify-content: space-between;
}

.logreg div {
    min-height: 50px;
    text-decoration: none;
    color: black;
}

.logreg div:hover {
    background: #ccc;
}

.logreg section input,
.logreg section select {
    width: 200px;
    border: 1px solid #ccc;
    padding: 0.5em;
    margin: 0;
    height: 40px;
    max-width: 70%;
}

.btn-wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.f-btn {
    background: #00ffc6;
    height: 40px;
    padding: 0.5em 2em;
    border: 1px solid #ccc;
    box-sizing:border-box;
}

.register-cta {
    padding-top: 20px;
    color: black;
}

/* REMOVE */
/* #emaiing, .overlay {
    display: none;
} */


.logreg section input.invalid,
.logreg section select.invalid {
    border: 1px solid red !important;
}

.download-arrow::after {
    content: "";

    border-width: 8px 7px 0px 7px;
    
    border-style: solid;
    
    border-color: transparent;
    
    border-top-color: white;
    
    margin-left: 8px;

    margin-top: 18px;
    
    position: absolute;
}

.download-arrow::before {
    content: "";

    border-width: 0px 3px 8px 3px;
    
    border-style: solid;
    
    border-color: white;
    
    margin-left: 12px;

    margin-top: 10px;
    
    position: absolute;
}

.circle{
    display: block;

    width: 30px;
    
    height: 30px;
    
    border-radius: 100%;
    
    background: black;
    
    border: none;

    cursor: pointer;

    float: right;
}

.delete-button{
    margin-right: 40px;

    cursor: pointer;
}

.delete-button::before{
    content: 'X';

    color: #000;
    
    font-weight: 1000;
    
    font-size: 27px;
}



/* Popup container - can be anything you want(added zheka) */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }